.main {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 915px;
    overflow-x: hidden;
    padding: 1rem; 
}
.header {
    font-family: var(--font-mono);
    font-size: 35px;
    font-weight: bold;
}
.date {
    font-family: var(--font-mono);
    font-size: 15px;
    font-weight: 50;
    line-height: 1px;
}
.tagcontent {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.label {
    font-family: var(--font-mono);
    font-size: 10px;
    display: flex;
    align-items: center;
}
.entry {
    width: 915px; 
    line-height: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.writing {
    font-family: var(--font-mono);
    font-size: 15px;
    font-weight: 100;
    display: flex;
}
.back {
    font-family: var(--font-mono);
    font-size: 14px;
}
.link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}
.AiButton {
    width: 180px;
    height: 35px;
    border-radius: 10px;
    background-color: #6164C3;
    border: none;
    color: white;
    font: var(--font-mono);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttontext{
    font-family: var(--font-mono);
    font-size: 12px;
}


@media (max-width: 600px) {
    .main {
        padding: 0.5rem;
    }
    .header {
        font-size: 25px;
    }
    .date {
        font-size: 12px;
        display: none;
    }
    .tagcontent {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .entry {
        max-width: 100%;
    }
    .writing {
        font-size: 14px;
        flex-wrap: wrap;
    }
    .back {
        font-size: 12px;
    }
    .link {
        flex-direction: column;
        gap: 0.5rem;
    }
}
