
.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 100%; 
    overflow-x: hidden; 
    padding-bottom: 10rem;
 
  
  }

  .header{
    font-family: var(--font-mono);
    font-size:50px;
    padding: 1rem;
  }

  .maincontent{
    margin-left: 13rem;
    margin-right: 13rem;
  }

  .toggle {
    display: flex;
  }

  .togglelink{
    text-decoration: none;
  }
  
  .page {
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-family: var(--font-mono);
  }
  
  .page.active {
    color: black;
    font-weight: bold;
  }

  .journalcontent{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  
  }

  .tagcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media (max-width: 600px) {
    .header {
        font-size: 30px; /* Adjust the font size for smaller screens */
    }

    .maincontent {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .journalcontent {
      flex-wrap: wrap;
    }

    .tagcontent{
      display: none;
    }
  }