
.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 100%; 
    overflow-x: hidden; 
    padding-bottom: 10rem;
  
 
  
  }

  .maincontent{
    margin-left: 13rem;
    margin-right: 13rem;
  }