.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow-x: hidden;
  padding-bottom: 10rem;
}
.maincontent {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .maincontent {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
  }
}
