
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    max-width: 100%; 
    overflow-x: hidden; 
    padding-bottom: 10rem;
    overflow-y: hidden;
    overflow-x: hidden;
 
  
  }


  .header{
    font-family: var(--font-mono);
    font-size:50px;
    padding: 1rem;
  }


  .maincontent{
    margin-left: 13rem;
    margin-right: 13rem;
  }

  .toggle {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .page {
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-family: var(--font-mono);
  }
  
  .page.active {
    color: black;
    font-weight: bold;
  }


  .journalcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
    flex-wrap: wrap;
  }


  .column{
    display: flex;
    flex-direction: column;

  }


  .subheaders{
    font-family: var(--font-mono);
    font-size:25px;
  }

  .description{
    font-size: 15px;
    font-weight: 50;
    width: 230px;
    font-family: var(--font-mono);
  }
  .togglelink{
    text-decoration: none;
  }

  @media (max-width: 600px) {
    .header {
        font-size: 30px; /* Adjust the font size for smaller screens */
    }

    .maincontent {
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }