
.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 1024px;
    overflow-x: hidden; 
    overflow-y: hidden;
   
 
  
  }


  .maincontent{
    display: flex;
    flex-direction: row;
    height: 1024px;
    justify-content: space-between;
 

  }


  .header {
    font-family: var(--font-mono);
    font-size: 34px;
    font-weight: 400;
    
  }

  .leftcontent{
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
  }

  

  

 